@font-face {
  font-family: 'Cormorant';
  src: url('./fonts/Cormorant-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('./fonts/Cormorant-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color-dark: #151618;
  --color-white: #ffffff;
  --color-light-beje: #f7f2ea;
  --color-beje: #b8b58b;

  --font-family-base: 'Open Sans', sans-serif;
  --font-family-accent: 'Cormorant';

  --container-width: 1200px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  color: var(--color-dark);
  background-color: var(--color-white);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-block: 30px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: var(--font-family-accent);
  font-weight: normal;
}

.subtitle {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
}

.button {
  font-size: 20px;
  padding-inline: 41px;
  padding-block: 12px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark);
}

/*-----------------------ХЕДЕР-----------------------*/

.header-menu-list {
  display: inline-flex;
  gap: 65px;
  font-size: 18px;
}

.header-menu-list-item-link {
  color: var(--color-dark);
}

.user {
  margin-left: 20px;
}

.search {
  margin-left: 140px;
}

.header-description-text-wrapp {
  position: relative;
}

.section-header {
 width: 100%;
 height: 50vh;
 background: url('/img/backgound.jpg') no-repeat center/cover;
}

.header-description-text-wrapp {
  /* display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px; */
  display: grid;
  grid-template-rows: 1fr auto; /* Верхняя часть займет всё свободное место, низ - по контенту */
  min-height: 40vh;
  font-family: var(--font-family-accent);
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  color: var(--color-white);
}

.header-description-text-wrapp h1, p {
  margin-top: auto;
}

.header-title {
  font-weight: normal;
  font-size: 60px;
}

.collection-description {
  text-align: center;
  margin-block: 148px;
  font-family: var(--font-family-accent);
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
}

.tea-collection-explore-wrapp {
  display: flex;
  flex-direction: column;
}

.tea-collection-explore-title {
  margin-bottom: 60px;
}

.tea-collection-explore-img-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 150px;
}

.tea-collection-img p {
  text-align: center;
  font-family: var(--font-family-accent);
  font-size: 24px;
}

/*-------------------------ОТЗЫВЫ---------------------*/
.section-reviews {
  background-color: var(--color-light-beje);
  padding-top: 60px;
}

.feedback {
  margin-bottom: 60px;
}

.reviews-wrapp {
  display: flex;
  gap: 30px;
}

.reviews-wrapp div {
  width: 280px;
  font-style: italic;
  padding-bottom: 60px;
}

.user-name-review {
  font-weight: 600;
  font-style: normal;
  padding-top: 10px;
}

.review-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*------------------------БЛОГ-----------------------*/
.section-blog {
  margin-block: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.blog-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.blog-item {
  display: flex;
  width: 540px;
  height: 180px;
  margin-right: 60px;
  margin-bottom: 40px;
}

.blog-desc-wrap h3:first-child {
    font-family: var(--font-family-accent);
    font-size: 24px;
    line-height: 1.5;
    font-weight: normal;
}

.blog-desc-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 20px;
}

.blog-button {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0;
}

.blog-button::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -15px;
  /* transform: translate(50%, 50%); */
  width: 5px;
  height: 10px;
  background: url('./icons/arrow.svg') no-repeat center/contain;
}

/*---------------------------УЗНАТЬ БОЛЬШЕ------------------------------------*/
.section-know-more{
  background-color: var(--color-light-beje);
}

.section-know-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.know-more-title {
  font-family: var(--font-family-accent);
  font-size: 40px;
  font-weight: normal;
}

.know-more-wrapp {
   padding-block: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}

.know-more-subtitle {
  font-size: 20px;
}

.know-more-form-wrapp {
  padding-top: 100px;
   flex: 1;
}

.know-more-form input{
  font-size: 20px;
  border: none;
  background: transparent;
}

.input-underscore {
  margin-inline: 0;
  width: 170%;
}

.know-more-checkbox-label {
  font-size: 13px;
}

.know-more-email-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}